
#history-wrapper {
    color: #fff;
}

/* profile image wrapper style */
#user-profile-info-wrapper {
    padding: 40px;
    background: #6C3E78;
    border-radius: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-main-info-wrapper {
    display: flex;
    align-items: center;
}

#profile-img-wrapper {
    width: 200px;
    height: 250px;
    border-radius: 28px;
    margin-right: 100px;

    /* 임시 이미지 */
    background-image: url("https://i.namu.wiki/i/-BO7m4nlr6HAifi1A7oJrs6EFeP4z4gg7mvRy9sKhdDXnw_e0bKn7wo-0shhcAQuL3kvhs5YSeXuyxaMXDh9vjUx5qjK4ONEmonhqmyKHJ3sCLdgDBQI3SCnSlAn1ir7A37bgicvwlBFqyg-s-ouPw.webp");
    background-size: cover;
    background-position: center;
}

#user-nickname-etc-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 15px;

    font-size: 2em;
}

#user-nickname-etc-wrapper img {
    height: 35px;
}

#user-position {
    display: flex;
    align-items: center;

    margin-left: 7px;
    margin-right: 7px;
}

#rate-point-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

#rate-point-wrapper img {
    height: 15px;
    margin-right: 15px;
}

#rate-wrapper {
    margin-right: 20px;
}

#sns-chat-btn-wrapper img {
    height: 50px;
    margin-right: 15px;
}

#lol-nickname-comment-wrapper {
    width: 45%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 20px;

    font-size: 2em;
}

#user-comment {
    font-size: 0.8em;
}

/* ranking info style */
#ranking-info-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}

#ranking-info-wrapper > div {
    display: flex;
    justify-content: space-around;

    background: #304373;
    border-radius: 28px;
}

/* ranking and win rate style */
#ranking-win-rate-wrapper {
    width: 45%;
    padding: 40px 40px 40px 20px;

    font-size: 2em;
}

#tier-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;

}

#tier-wrapper img {
    width: 200px;
}

#rank-etc-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    font-size: 0.8em;
    color: #B1B1B1;

    width: 50%;
}

#rank-point-info-wrapper span:first-child {
    font-size: 1.2em;
    color: #fff;
}

#rank-point-info-wrapper, #simple-win-rate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* detail win rate style */
#detail-win-rate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    padding: 20px;
}

#win-rate-graph-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-size: 1.2em;
}

#win-rate-graph {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;

    margin-top: 20px;
}

#numeric-win-rate {
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
    transform: translate(-50%, -50%);

    color: #000;
}

#avg-point-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    height: 60%;
}

#avg-point {
    font-size: 1.2em;
}

#avg-kda {
    font-size: 1.7em;
}

#most-champ-wrapper {
    width: 45%;
}

#most-champ-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 10px;

    margin-top: 20px;

    font-size: 1.1em;
}

#most-champ-grid-wrapper img {
    width: 60px;

    border-radius: 5px;
}

#most-champ-wrapper .champ-win-rate {
    width: 100%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;

    text-align: center;
}

/* game result and review wrapper */
#game-result-review-wrapper {
    display: flex;
    justify-content: space-between;

    height: 800px;
    margin: 40px 0;
}

#game-result-wrapper::-webkit-scrollbar {
    display: none;
}

#game-result-wrapper {
    width: 45%;
    height: 100%;
    overflow: scroll;

    color: #000;
}

#game-result-wrapper .each-game-result-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
    margin-bottom: 30px;
    border-radius: 28px;
    /* 패배 색 */
    background: #FFBCBC;
}

#game-result-wrapper .each-game-result-wrapper:last-child {
    margin-bottom: 0;
}

#game-result-wrapper .playing-champ-img {
    width: 19%;
    border-radius: 10px;
}

#game-result-wrapper .rune-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 19%;
}

#game-result-wrapper .rune-wrapper img:first-child {
    width: 70px;
}

#game-result-wrapper .spell-wrapper {
    display: flex;
    justify-content: flex-end;
}

#game-result-wrapper .spell-wrapper img {
    width: 35px;
    margin-left: 15px;
}

#game-result-wrapper .each-kda-item-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    width: 50%;
}

#game-result-wrapper .each-kda-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 30px;
}

#game-result-wrapper .each-kda {
    font-size: 1.8em;
}

#game-result-wrapper .each-item-wrapper {
    width: 100%;
}

#game-result-wrapper .each-item-wrapper img {
    width: 30px;
    margin-right: 6px;
}

/* review section style */
#review-section {
    width: 50%;
    background: #304373;
    border-radius: 28px;
    padding: 40px;

    overflow: scroll;
}

#review-section::-webkit-scrollbar {
    display: none;
}

#review-section h2 {
    margin-bottom: 30px;

    font-size: 3em;
}

#review-section .each-review-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    padding: 40px 30px;
    margin-bottom: 30px;
    border-radius: 28px;

    color: #000;
}

#review-section .each-review-wrapper:last-child {
    margin-bottom: 0;
}

#review-section .each-review-wrapper .review-profile-img {
    width: 130px;
    height: 140px;
    border-radius: 5px;
}

#review-section .review-user-nickname {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 1.2em;
}

#review-section .review-rate-wrapper {
    align-self: start;

    display: flex;
}

#review-section .review-rate-wrapper img {
    width: 25px;
    margin-right: 15px;
}
