/* 우측 콘텐츠 영역 */
#my-page-content {
    color: white;
    width: 80%;
    border-left: 1px solid #fff;
}

#my-page-wrapper {
    display: flex;
}

/* 좌측 메뉴 영역 */
#my-page-sidebar {
    color: white;
    height: 600px;
    width: 20%;
    font-size: 18px;
    line-height: 2.2em;
    border-right: 1px solid #FFFFFF;
    /*border: 1px solid #fff;*/
}

#my-page-menu-list {
    margin-top: 30px;
}

/* 각 페이지에서는 해당 페이지 메뉴에 fw700 default 먹이기 */
.my-page-menu:hover {
    font-weight: 700;
    cursor: pointer;
}

.matching-box {
    display: flex;
}

.application-match {

    box-sizing: border-box;
    left: 65px;
    top: 30px;

    width: 50%;
    padding: 30px 40px;

}

h2 {

    left: 20px;
    top: 14px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.matching-grid::-webkit-scrollbar {
    display: none;
}

.matching-grid {
    overflow: scroll;

    display: grid;
    grid-template-columns: 1.5fr 1fr 2.5fr;
    grid-auto-rows: 10%;

    background-color: #3F4A5B;
    border-radius: 10px;
    padding: 30px;
    height: 500px;

    text-align: center;
}

.grid-title {
    font-weight: bold;
}

.matching-people {
    height: 24px;
    left: 6px;
    top: 3px;

    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.matching-day {
    height: 24px;
    left: 6px;
    top: 3px;

    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

}

.nickname-another {
    height: 24px;
    left: 6px;
    top: 3px;

    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;


}

.duo-detail {
    display: flex;
    justify-content: space-around;

    height: 34px;
    left: 13px;
    top: 62px;

}


.my-review {

    height: 24px;
    left: 6px;
    top: 3px;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

}

.writer-review {

    box-sizing: border-box;

    /* justify-content: center; */
    height: 24px;
    left: 307px;
    top: 1px;

    background: #142F57;
    border-radius: 5px;
}

.writer-review:hover {
    border: 1px solid #ffff;
}