body::-webkit-scrollbar {
    display: none;
}

#my-page-wrapper {
    display: flex;
}

/* 좌측 메뉴 영역 */
#my-page-sidebar {
    color: white;
    height: 600px;
    width: 20%;
    font-size: 18px;
    line-height: 2.2em;
    border-right: 1px solid #FFFFFF;
    /*border: 1px solid #fff;*/
}

#my-page-menu-list {
    margin-top: 30px;
}

/* 각 페이지에서는 해당 페이지 메뉴에 fw700 default 먹이기 */
.my-page-menu:hover {
    font-weight: 700;
    cursor: pointer;
}

#register-duo-profile {
    font-weight: 700;
}

/* 우측 콘텐츠 영역 */
#my-page-content {
    color: white;
    width: 80%;
    /*border: 1px solid #fff;*/
    position: relative;
    border-left: 1px solid #FFFFFF;
}

/* 프로필 영역 감싸는 작은 wrapper */
#duo-profile-box {
    /*border: 1px solid #fff;*/
    width: 650px;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 프로필사진 프레임 */
#duo-image-frame {
    border: 1px solid #fff;
    width: 35%;
    height: 220px;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 60px;
}

#duo-tier-image {
    width: 70px;
    position: absolute;
    left: 0;
    z-index: 2;
    top: -17px;
}

#duo-profile-image {
    width: 100%;
}

#position-comment-box {
    width: 75%;
}
/* 주포지션 선택 라디오 */
#preferred-position {
    display: flex;
    width: 230px;
    height: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#preferred-position-title {
    width: 100px;
    /*border: 1px solid #fff;*/
}

.position-option {
    display: block;
    width: 30px;
    cursor: pointer;
}

.select-position {
    /*border: 1px solid #fff;*/
    margin: 0;
    padding: 0;
    display: none;
}

.select-position:checked + .position-image{
    background-color: rgba(255, 255, 255, 0.9);
}

.position-image {
    /* border: 1px solid #fff; */
    width: 25px;
    margin: 0;
    padding: 0;
    /*background: #242526;*/
}

.position-image:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/* 자기소개 영역 */
#comment {
    width: 100%;
    height: 170px;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: none;
    background: #3F4A5B;
    font-size: 15px;
}

#comment::placeholder {
    color: rgba(208, 208, 208, 0.6);
}

/* 매칭포인트 ~ 듀오등록 버튼 라인 */
#submit-box {
    /*border: 1px solid #fff;*/
    display: flex;
    margin-top: 10px;
    align-items: center;
}

/* 매칭포인트 인풋태그 */
#matching-point {
    width: 40px;
    margin-left: 10px;
    background: #3F4A5B;
    border: none;
    /*border: 1px solid #fff;*/
    outline: none;
    color: #FFFFFF;
    height: 25px;
    font-size: 19px;
    text-align: right;
    line-height: 25px;
}

#matching-point + span {
    line-height: 22px;
    font-size: 19px;
    padding: 0 10px;
    font-weight: lighter;
}

#matching-point::placeholder {
    color: rgba(208, 208, 208, 0.6);
}

#matching-point-label {
    display: flex;
    height: 25px;
    background: #3F4A5B;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 10px;
}

#matching-point-title {
    display: flex;
    align-items: center;
}
#register-duo {
    position: absolute;
}

.duo-btn {
    width: fit-content;
    margin-left: 15px;
    right: 5px;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.duo-btn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
}




