#calendar-wrapper-background {
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

/* 작은 래퍼 */
#calendar-wrapper {
    z-index: 4;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
}

#select-date {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#select-date:hover {
    font-weight: 700;
}

/* 달력 영역*/
#matching-calendar {
    /*border: 1px solid #3c2424;*/
    background: #fff;
    margin-top: 20px;
    width: 370px;
    padding: 25px 10px 20px;
    border-radius: 20px;
}

#calendar-title {
    display: flex;
    font-size: 30px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

#arrows {
    margin-right: 10px;
}

.blue-arrow {
    width: 20px;
}
#prev {
    transform: rotate(180deg);
    width: 20px;
    margin-right: 30px;
    cursor: pointer;
}

#next {
    width: 20px;
    cursor: pointer;
}

/* 요일 영역 */
#days-box {
    display: flex;
    border-bottom: 1px solid #e1ecff;
    width: fit-content;
}

/* 요일 및 날짜 */
.my-calendar {
    font-size: 20px;
    width: 50px;
    text-align: center;
    padding: 15px 0;
}

#dates {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}

#dates .date {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
}

#dates .available-date:hover {
    color: #1EA1F7;
    font-weight: 700;
    background: #e1ecff;
}

/* 지난 날짜 회색 표시 */
#dates .prev-date {
    color: #8F8F8F;
}