/*@import "../common/common.css";*/

/* 채팅방 모달 띄우는 css */

/* 모달 뒷배경 블러처리 */



/* 모달 뒷배경 css */
.modal-background {
    width: 100%;
    height: 100%;
    display: none;
    background: #000;
    opacity: 50%;
    z-index: 100;
    position: absolute;
}

.modal-background.show-modal {
    display: block;
}

/* 채팅목록 모달 css */
.chatting-message-modal-wrapper {
    width: 400px;
    height: 550px;
    margin: 0 auto;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    /*display: none;*/
    background: #E3E3E3;
    /* border: 2px solid #ff0c0c; */
    border-radius: 25px;
    z-index: 500;

    padding: 20px 15px 15px 0px;
}

.chatting-message-modal-wrapper.show-chatting-message-modal {
    display: block;
}

/* 채팅방헤더 상대닉네임 부분 */
.chatting-message-head {
    width: 90%;
    background: #d3cdcd;
    /* border: 1px solid red; */
    border-radius: 10px;

    margin: 0 auto;
    padding: 8px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.chatting-arrow-img {
    width: 25px;
    /* border: 1px solid blue; */
    margin-left: 10px;
    opacity: 80%;
    cursor: pointer;
    /* display: inline-block; */

}
.chatting-message-nickname {
    font-weight: 700;
    /* border: 1px solid #000; */
    display: inline-block;
    padding-top: 4px;
    margin: 0 auto;
}

/* 매칭확정, 게임완료 버튼 부분 */
.chatting-message-option {
    /* border: 1px solid greenyellow; */

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.chatting-message-option button{
    /* border: 1px solid #000; */
    background: #fff;
    border-radius: 15px;
    width: 120px;
    height: 25px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chatting-message-option button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.matching-accept-container {
    display: inline-block;
    /* cursor: pointer; */

}
.chatting-handshake-img {
    width: 25px;
    margin-right: 10px;
}


.gameover-container {
    display: inline-block;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.chatting-gameover-img {
    width: 20px;
    margin-right: 10px;
}


/* 채팅 메시지 부분 */
.chatting-message-body {
    height: 380px;
    padding-left: 10px;
    overflow-y: scroll;
}
.chatting-message-body::-webkit-scrollbar {
    display: none;
    /* width: 0.2px;
    background-color: transparent; */
}
.message-content-container {
    margin: 20px;
}
.chatting-message-card {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.chatting-profile {
    width: 50px;
    height: 60px;
    border-radius: 10px;
    margin: 15px 5px;
    align-self: start;
}
.message-nickname {
    font-size: 11px;
    margin-bottom: 10px;
}
.message-content-wrapper {
    display: flex;
    align-items: end;
}

.message-from .message-content-wrapper {
    flex-flow: row-reverse;
}
.message-from .send-time {
    margin-right: 10px;
}
.message-content {
    color: black;
    max-width: 200px;
    display: inline-block;
    padding: 10px;
    /* border: 1px solid #000; */
    border-radius: 5px;
    background: #fff;
    font-size: 13px;
    word-wrap: break-word;
    line-height: 20px;

}
.send-time {
    font-size: 11px;
    margin-left: 10px;
}

.message-from {
    display: flex;
    flex-flow: row-reverse;
}
.message-from .message-nickname {
    text-align: right;
}

/* 메시지 입력창 부분 */
.message-send-box {
    border: 0px;
    width: 80%;
    height: 30px;

    border-radius: 5px;
    margin: 5px 10px 0px 20px;
    margin-top: 10px;
    outline: none;
}

.message-send-btn {
    width: 40px;
    height: 30px;
    /* border: 1px solid #000; */
    border-radius: 5px;
    font-weight: 600;
    background: #fff;
}

.message-send-btn:hover {
    background: #d3cdcd;
}