
#main-wrapper{
    /* border: 1px solid #000000; */
    height: 800px;
    margin-top: 30px;
}

.container{
    border: 1px solid #ffffff;
    border-radius: 3%;
    width: 80%;
    height: 85%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: #123123;

}

.container .inbox{
    /* border: 1px solid #f70000; */
    width: 100%;
    height: 15%;
    display: flex;
}

.container .inbox .inbox_text{
    border-bottom: 1px solid #ffffff;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    
}

.container .inbox .inbox_text li{
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;

}

.container .inbox .inbox_img img{
    width: 50px;
    height: 50px;
    /* border: 1px solid #000; */
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
} 

.container .checkbox_table{
    /* border: 1px solid #000; */
    width: 90%;
    height: 70%;
    margin-left: 5%;

}

.container .checkbox_table .checkbox_content{
    /* border: 1px solid #000; */
    height: 15%;
    margin-top: 2%;
    font-size: 20px;
}

.container .checkbox_table .checkbox_content label{
color: white;
margin-left: 3%;

}


.container .checkbox_table .checkbox_content input{
width: 20px;
height: 20px;
margin-left: 3%;
margin-top: 6%;
background-color: transparent;
}

.container .checkbox_table .checkbox_content .check_input{
    border: 1px solid #ffffff;

}

.container .checkbox_table .checkbox_content #acc{
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color:white;
}

.container .checkbox_table .checkbox_content #acc:focus{
outline: none;
}
