
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  *{
    color: white;
  }

#admin-wrapper {
    display: flex;
    height: 600px;
    margin-top: 30px;

}

#main-wrapper #left_menu {
    width: 27%;
    height: 100%;
    margin-top: 12px;

}

#main-wrapper #left_menu .Today_Total {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;

}

#main-wrapper #left_menu .Today_Total li {
    width: 10%;
    /* border: 1px solid #b8fb00; */
    font-size: 12px;
}

#main-wrapper #left_menu .menu_box {
    /* border: 1px solid #00ff2b; */
    width: 100%;
    height: 96%;
   
}

#main-wrapper #left_menu .menu_box .two_box {
    display: flex;
    justify-content: center;
    height: 32%;

}

#main-wrapper #left_menu .one_box {
    /* border: 1px solid #440deb; */
    width: 50%;
    height: 100%;
    

}

#main-wrapper #left_menu .one_box_text {
    border: 1px solid #ffffff;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    margin-left: 5%;
    
}

#main-wrapper #left_menu .one_box_text:hover{
    opacity: 0.9;
    background-color: rgb(4, 68, 95);
}


#main-wrapper #left_menu .one_box_text li{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    
}
#main-wrapper #left_menu .one_box_text .pic #sign{
    width: 70px;
}
#main-wrapper #left_menu .one_box_text .accuse{
    padding-top: 10px;
}

#main-wrapper #left_menu .one_box_text .pic{
    height: 40%;
    margin-top: 5%;

    
}

#main-wrapper #left_menu .one_box_text .pic .admin_img{
    width: 55%;
    height: 65px;
}

#main-wrapper #left_menu .one_box_text #member{
    width: 100%;
}

#main-wrapper #left_menu .one_box_text .admin_category{
    height: 20%;
    font-size:12px;
    text-align: center;
    padding-top: 15px;
    
}

#main-wrapper #left_menu .one_box_text .mem_count{
    height: 25%;
    font-size: 25px;
    margin-top: 10px;
    
}


/* 우측메뉴 */
#main-wrapper #right_menu {
    width: 65%;
    margin-left: 5%;
    


}

#main-wrapper #right_menu .top_menu{
    display: flex;
    height: 5%;

}

#main-wrapper #right_menu .top_menu .search{
 display: flex;
 border: 3px solid white;
 width: 35%;
height: 100%;
border-radius: 5%;

 
 
}
#main-wrapper #right_menu .top_menu .search input{
    background-color: #111E30;
    border: none;
    width: 250px;
    
}
#main-wrapper #right_menu .top_menu .search input:focus{
    outline: none;
}


#main-wrapper #right_menu .top_menu .search button{
    background-color: #111E30;
    border: none;
    outline: none;
    cursor: pointer;
    width: 35px;
    
}
#main-wrapper #right_menu .top_menu .search img{
    width: 25px;
    height: 25px;
    padding: 3px;
}



#main-wrapper #right_menu .top_menu .admin_board{
    width: 40%;
    height: 100%;
    display: flex;
    margin-left: 370px;
    
    
    
}
#main-wrapper #right_menu .top_menu .admin_board li{
    
    margin-top: 5px;
    font-size: 12px;   
    padding-top: 5px;

}

#main-wrapper #right_menu .top_menu .admin_board li:first-child{
    margin-left: 120px;
}

#main-wrapper #right_menu .top_menu .admin_board li:last-child{
   margin-left: 40px;
}

#main-wrapper #right_menu .bottom_menu{
 /* border: 1px solid #8a0bde;  */
 height: 92%;
 width: 100%;  
 font-style: normal;
 
 
}

#main-wrapper #right_menu .bottom_menu .menubar{
 display: flex;
height: 9%;
border-bottom:rgb(255, 255, 255) 1px solid;
align-items: center;
width: 100%;

}



/* 회원관리 */
#main-wrapper #right_menu .bottom_menu .menubar div{
 /* border: 1px solid #ff0000; */ 

}

#main-wrapper #right_menu .bottom_menu .menubar .blc{
    margin-left: 10%;
}

#main-wrapper #right_menu .bottom_menu .menubar .no{
    margin-left: 5px;
    width: 5%;
}

#main-wrapper #right_menu .bottom_menu .menubar .nickname{
    margin-left: 5px;
    width: 15%;
}

#main-wrapper #right_menu .bottom_menu .menubar .gender{
    margin-left:20px;
    width: 5%;
}

#main-wrapper #right_menu .bottom_menu .menubar .board_count{
    margin-left:20px;
    width: 12%;
}

#main-wrapper #right_menu .bottom_menu .menubar .reply_count{
    margin-left:20px;
    width: 10%;
}

#main-wrapper #right_menu .bottom_menu .menubar .warn_count{
    margin-left:20px;
    width: 8%;
}

#main-wrapper #right_menu .bottom_menu .menubar .point{
    margin-left:20px;
    width: 7%;
}

#main-wrapper #right_menu .bottom_menu .menubar .follow{
    margin-left:20px;
    width: 7%;
}

#main-wrapper #right_menu .bottom_menu .menubar .sign_date{
    margin-left:60px;
    width: 10%;
}

#main-wrapper #right_menu .bottom_menu .pageNo{
    height: 5%;
   margin-top: 2%;
   display: flex;
   justify-content: center;    
}

#main-wrapper #right_menu .bottom_menu .pageNo .page_no{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 60%;
   height: 100%;
}

#main-wrapper #right_menu .bottom_menu .pageNo .page_no li{
 border: 1px solid #ffffff;
 width: 7%;
 height: 100%;
 font-size: 13px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 cursor: pointer;

}


/* 게시글관리 */

#main-wrapper #right_menu .bottom_menu .menubar .title{
    margin-left:20px;
    width: 40%;
}

#main-wrapper #right_menu .bottom_menu .menubar .board_write_date{
    margin-left:20px;
    width: 10%;
}

#main-wrapper #right_menu .bottsom_menu .menubar .select_count{
    padding-left:60px;
    width: 5%;
}

#main-wrapper #right_menu .bottom_menu .menubar div:last-child{
height: 60%;
padding-top: 7px;
background-color: rgba(255, 255, 255, 0);
cursor: pointer;
width: 15%;
/* border: 1px solid #000; */
}

#main-wrapper #right_menu .bottom_menu .menubar #board_select_count{
    padding-left: 60px;
}


#main-wrapper #right_menu .bottom_menu .menubar button{
    cursor: pointer;
    background-color: transparent;
}

/* 신고관리 */



#main-wrapper #right_menu .bottom_menu .menubar .accuse_no{
    margin-left: 5px;
    width: 5%;
}
#main-wrapper #right_menu .bottom_menu .menubar .accuse_nickname{
    margin-left: 10px;
    width: 15%;
}
#main-wrapper #right_menu .bottom_menu .menubar .accuse_title{
    margin-left:20px;
    width: 38%;
}
#main-wrapper #right_menu .bottom_menu .menubar .accuse_etc{
    margin-left:20px;
    width: 38%;
}

#main-wrapper #right_menu .bottom_menu .menubar .accuse_count{
    margin-left:40px;
    width: 10%;
}

#main-wrapper #right_menu .bottom_menu .menubar .delete{
    padding-left :50px;
    width: 10%;
}


.preserve-space {
    white-space: pre;
}
