/* reset CSS */
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    margin: 0;
    padding: 40px 0 0;

    background-color: #111E30;
}

#main-wrapper {
    width: 1400px;

    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
}

/* 버튼 호버 효과 공통 */
.btn:hover {
    opacity: 0.8;
}

/* dialog backdrop */
dialog {
    padding: 0;
    border: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .5);
}