
.wrapper {

    width: 60%;
    margin: 500px auto 0;
    /* align-items: center; */
    /* background:red; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff; */


}

.footer {

    margin: 0 auto;
    width: 865px;
    height: 47px;
    left: 577px;
    top: 587px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    /* text-align: center; */
    color: #FFFFFF;
    /* border: 1px solid #000; */
}

.footer-company {

    margin: 0 auto;
    width: 422px;
    height: 45px;
    left: 794px;
    top: 647px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    /* border: 1px solid #000; */

}

.footer-logo {
    margin: 0 auto;
    width: 153px;
    height: 153px;
    left: 932px;
    top: 684px;
    overflow: hidden;
}

/* 박스안에 사진이 넘쳤을 때 담는법  */
.footer-logo img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}